body{
    background-color: aliceblue;
}
label{
    display: block;
    padding-bottom: 20px;
}
input{
    display: block;
}
button{
    margin-right: 10px;
    margin-bottom: 10px;
}
h3{
    margin: 0;
}